<table>
  <tr>
    <th>From</th>
    <th>Email</th>
    <th>title</th>
    <th>message</th>
  </tr>

  <tr *ngFor="let item of (mails | async)">
    <td>{{ item.name }}</td>
    <td>{{ item.email }}</td>
    <td>{{ item.object }}</td>
    <td class="left">{{ item.body }}</td>
  </tr>
</table>
