<h2>CONTACT</h2>
<form [formGroup]="contactform" (ngSubmit)="sendform()" class="formbox">
  <div class="formelement">
    <label>
      <p>Nom</p>
      <input type="text" placeholder="Nom d'expéditeur" formControlName="name" required autocomplete="on"/>
      <span *ngIf="nameControl.invalid && (nameControl.dirty || nameControl.touched)">
        <span *ngIf="nameControl.hasError('required')">
          * Champ obligatoire.
        </span>
      </span>
    </label>
  </div>

  <div class="formelement">
    <label>
      <p>E-mail</p>
      <input type="email" placeholder="Email" formControlName="email" required autocomplete="on"/>
      <span *ngIf="emailControl.invalid && (emailControl.dirty || emailControl.touched)">
        <span *ngIf="emailControl.hasError('required')">
          * Champ obligatoire.
        </span>
        <span *ngIf="emailControl.hasError('email')"
        >* Mettez sous la forme d'email.
        </span>
      </span>
    </label>
  </div>

  <div class="formelement">
    <label>
      <p>Object</p>
      <input type="text" placeholder="Object:" formControlName="object" autocomplete="on"/>
    </label>
  </div>

  <div class="formelement">
    <label>
      <p>Message</p>
      <textarea type="text" placeholder="Message" formControlName="body" required autocomplete="on"></textarea>
      <span *ngIf="bodyControl.invalid && (bodyControl.dirty || bodyControl.touched)">
          <span *ngIf="bodyControl.hasError('required')">
            * Champ obligatoire.
          </span>
        </span>
    </label>
  </div>

  <div class="btnconfirm">
    <button type="submit" (click)="viewconfirm(); onEvent($event)"
            [disabled]="contactform.invalid || contactform.pristine">
      Envoyer
    </button>
  </div>

  <div id="modalconfirm">
    <div class="modalmain">
      Confirmation Message
      <p>de: {{this.contactform.value.name}}</p>
      <p>{{this.contactform.value.email}}</p>
      <p>{{this.contactform.value.object}}</p>
      <p>{{this.contactform.value.body}}</p>
      <div class="modalbtn">
        <button (click)="closeconfirm();onEvent($event)">Retour</button>
        <button (click)="sendform(); closeconfirm();onEvent($event)">Envoyer</button>
      </div>
    </div>
  </div>

  <div id="modalsended">
    <div class="modalmain2">
      <p>Message est bien envoyé.</p>
      <div class="modalbtn">
        <button (click)="closesended();onEvent($event) ">OK</button>
      </div>
    </div>
  </div>

  <div class="linkinconbox">
    <div class="linkicon"><a href="mailto:dezidezi9495@outlook.com"> <img src="../assets/icons8-composing-mail-100.png"
                                                                          class="linkimg" alt=""></a>
    </div>
    <div class="linkicon"><a href="https://www.linkedin.com/in/takahiro-y-551a1918b/"> <img
      src="../assets/icons8-linkedin-100.png" class="linkimg" alt=""></a>
    </div>
    <div class="linkicon"><a href=""> <img src="../assets/icons8-slack-new-100.png" class="linkimg" alt=""></a>
    </div>
    <div class="linkicon"><a href="https://gitlab.com/Takahi"> <img src="../assets/icons8-gitlab-100.png"
                                                                    class="linkimg" alt=""></a>
    </div>
    <div class="linkicon"><a href="https://www.facebook.com/profile.php?id=100010351771579"> <img
      src="../assets/icons8-facebook-old-100.png" class="linkimg" alt=""></a>
    </div>
    <div class="linkicon"><a href="https://twitter.com/adreamtogalaxy"> <img src="../assets/icons8-twitter-100.png"
                                                                             class="linkimg" alt=""></a>
    </div>
    <div class="linkicon"><a href="https://www.instagram.com/takahoroo/"> <img
      src="../assets/icons8-instagram-old-100.png" class="linkimg" alt=""></a>
    </div>
  </div>

</form>
