  h2{
    color: #ffffff;
    padding: 100px ;
    font-size: 40px;
  }

  .formbox {
    margin: 0 auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 16px;
  }

  .formelement p{
    color: white;
    font-size: 20px;
  }

  .formelement span {
    display: block;
    font-size: 6px;
    color: #fa8072;
  }

  .formelement input, textarea{
    display: block;
    width: 400px;
    border: none;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 2px;
    padding: 2px;
    word-break: normal;
  }

  .formelement textarea {
    min-height: 200px;
    font-family: 'Work Sans', sans-serif;
  }

  .btnconfirm button {
    font-size: 20px;
    padding: 6px 30px;
    margin: 20px;
    position: relative;
    border-radius: 8px;
    border: 2px solid royalblue;
  }

  #modalconfirm,  #modalsended{
    width: 100%;
    height: 120%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 980;
    display: none;
  }

  .modalmain {
    z-index: 999;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(230, 230, 250, 1);
    padding: 30px;
    width: 400px;
  }

  .modalmain p {
    padding: 6px 20px;
    word-wrap: normal;
    text-align: left;
  }

  .modalmain2 {
    z-index: 999;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(230, 230, 250, 0.8);
    padding: 30px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .modalbtn{
    margin: 0 auto 0 ;
  }

  .modalbtn button{
    font-size: 20px;
    padding: 6px 30px;
    margin: 20px;
    position: relative;
    border-radius: 8px;
    border: 2px solid royalblue;
  }

  .linkinconbox {
    margin: 50px;
    display: flex;
    flex-direction: row;
  }

  .linkicon {
    filter: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg) brightness(107%) contrast(101%);
    display: inline-block;
    border-bottom: solid 2px transparent;
  }

  .linkicon:hover {
    border-bottom: solid 2px black;
  }

  .linkimg {
    width: 50px;
    padding: 6px;
  }

