<div class="exp-container">
  <h2>EXPERIENCES</h2>

  <section>
    <h3> DIPLOMES et FORMATION</h3>
    <div class="exp-box">
      <div class="leftline"></div>
      <div class="exp-content">
        <br><p class="textn"><i>En France</i></p>
        <p class="textb">White Rabbit à Clichy (Formation professionnelle en codage informatique spécialisé en
          javascript)</p>
        <p class="textn">2019 - <span class="textc">Aujourd'hui</span></p><br>
        <p class="textb">L’Institut d’Enseignement Supérieur d’Informatique et de gestion à Paris</p>
        <p class="textn">2018 - 2019</p><br>
        <p class="textn"><i>Au Japon</i></p>
        <p class="textb"> Licence en lettres, sciences économiques et politiques à l’université de la préfecture
          d’Aichi </p>
        <p class="textn">(Parcours lettres spécialisation en langue française) </p>
        <p class="textn">2014 - 2017</p><br>
        <p class="textb">Scolarité au lycée Showa</p>
        <p class="textn">2011 - 2014</p>
    </div>
    </div>
  </section>

  <section>
    <h3>BENEVOLAT et EXPERIENCES PROFESSIONNELLES</h3>

    <div class="exp-box">
      <span class="leftline"></span>
      <div class="exp-content">
        <br><p class="textb">Rédacteur chef et membre créateur du journal de l’association de l’université de la
          préfecture d’Aichi</p>
        <p class="textn">(interviews, rédaction, enquête, collecte d’informations, collecte de fonds, bases de
          l’animation d’un site internet, conception d’un journal).</p>
        <p class="textn">2014 – 2017 </p><br>
        <p class="textb">Aide à l’utilisation des outils informatiques</p>
        <p class="textn">(Word, Excel, Powerpoint, installation Antivirus) aux étudiants de première année de
          l’université</p>
        <p class="textn">2014 – 2017</p><br>
        <p class="textb">Animateur aux salons et Journées portes-ouvertes destinés aux lycéens à l’université</p>
        <p class="textn">2014 - 2015</p><br>
        <p class="textb">Animateur, présentateur des jeux vidéos et robots aux enfants pour l’entreprise GET</p>
        <p class="textn">2012 - 2016</p>
      </div>
    </div>

  </section>

</div>
