<div class="home-box">

    <div class="portrait"></div>
    <h3>Bonjour !</h3>
    <p class="texto">Je m’appelle Takahiro (surnommé par mes collègues « TAKA »), j'ai 24 ans.</p>
    <p class="texto">Je suis en formation pour réaliser mon rêve : devenir développeur web en France !</p>

    <h4>Mon parcours, étape 1</h4>
    <p>Au cours de mon cursus universitaire au Japon, dans la ville de Nagoya, j’ai eu l’opportunité de faire une année
      de césure dans un des pays partenaires qui m’attirait le plus. Mon choix a été très rapide car je connaissais déjà
      la destination de mes rêves. J’ai donc fait le choix de venir en France durant un an avec le fameux PVT.</p>
    <p><span>J’ai intégré une école française</span> où je prenais à la fois des cours de français pour m’améliorer (surtout à
      l’oral) et à la fois des cours d’informatique, mes deux projets qui me tenaient à cœur. En plus d’avoir fait une
      merveilleuse rencontre, j’ai développé l’envie de construire mon projet de travailler dans le web en France.</p>

    <h4>Et maintenant ? étape 2</h4>
    <p>Je suis installé à la Garenne-Colombes (92), et comme je souhaitais apprendre vite, de façon autonome et efficace les bases du
      codage informatique, j’ai opté pour une formation professionnalisante. J'ai choisi <span>White Rabbit, une école labellisée Grande Ecole du Numérique</span>, une pédagogie basée
      sur les neurosciences et la méthode Montessori, pour acquérir les bases nécessaires pour l’apprentissage du code
      et la réalisation d’un site web.</p>
    <p>Et là, je suis au bout de la formation théorique, et me lance dans la formation pratique grâce à un éventuel stage de fin d'année.
      J’espère que ce site appuiera ma volonté de concrétiser mon rêve avec de futurs collaborateurs.</p>

</div>
