<div class="contenair">

  <section>
    <form name="checks">
      <input type="checkbox" id="openSidebarMenu">
      <input type="reset" id="closeSidebarMenu">

      <label for="openSidebarMenu" class="sidebarIconToggle">
        <span class="spinner diagonal part-1"></span>
        <span class="spinner horizontal"></span>
        <span class="spinner diagonal part-2"></span>
      </label>

      <label for="closeSidebarMenu" id="sideback"></label>
      <label for="closeSidebarMenu"></label>

      <div id="sidebarMenu">
        <ul class="sidebarMenuInner">
          <li><a onClick="jumptop()" routerLink="/accueil">ACCUEIL</a></li>
          <li><a onClick="jump()" routerLink="/experience">EXPERIENCE </a></li>
          <li><a onClick="jump()" routerLink="/competence"> COMPETENCE</a></li>
          <li><a onClick="jump()" routerLink="/portfolio">PORTFOLIO</a></li>
          <li><a onClick="jump()" routerLink="/loisir">LOISIR</a></li>
          <li><a onClick="jump()" routerLink="/contact">CONTACT </a></li>
        </ul>

        <div class="linkinconbox">
          <div class="linkicon"><a href="mailto:dezidezi9495@outlook.com"> <img
            src="../assets/icons8-composing-mail-100.png" class="linkimg" alt=""></a>
          </div>
          <div class="linkicon"><a href="https://www.linkedin.com/in/takahiro-y-551a1918b/"> <img
            src="../assets/icons8-linkedin-100.png" class="linkimg" alt=""></a>
          </div>
          <div class="linkicon"><a href=""> <img src="../assets/icons8-slack-new-100.png" class="linkimg" alt=""></a>
          </div>
          <div class="linkicon"><a href="https://gitlab.com/Takahi"> <img src="../assets/icons8-gitlab-100.png"
                                                                          class="linkimg" alt=""></a>
          </div>
          <div class="linkicon"><a href="https://www.facebook.com/profile.php?id=100010351771579"> <img
            src="../assets/icons8-facebook-old-100.png" class="linkimg" alt=""></a>
          </div>
          <div class="linkicon"><a href="https://twitter.com/adreamtogalaxy"> <img
            src="../assets/icons8-twitter-100.png"
            class="linkimg" alt=""></a>
          </div>
          <div class="linkicon"><a href="https://www.instagram.com/takahoroo/"> <img
            src="../assets/icons8-instagram-old-100.png" class="linkimg" alt=""></a>
          </div>
        </div>

      </div>
    </form>
  </section>

  <section>
    <div class="sec-top">
      <div class="nameempty1"></div>
      <div class="name12">
        <h1 class="name1">TAKAHIRO YAMADA</h1>
        <p class="name2">Développeur web Front-end Junior</p>
      </div>
      <div class="nameempty2"></div>
      <div class="dlcv"><a href="../assets/202003CV%20YAMADA%20new%20.pdf" target="_blank">
        <img src="../assets/icons8-download-50.png" alt="download">Téléchargez Mon CV</a></div>
      <div class="nameempty3"></div>
      <p class="name3">&#9660; Scroll &#9660;</p>
    </div>
  </section>

  <section>
    <div class="sec-main">
      <router-outlet></router-outlet>
    </div>
  </section>

  <section>
    <div class="footer">
      <ul>
        <li>
          <a onClick="jumptop()" routerLink="/accueil">ACCUEIL</a>
        </li>
        <li>
          <a onClick="jump()" routerLink="/experience">EXPERIENCE</a>
        </li>
        <li>
          <a onClick="jump()" routerLink="/competence">COMPETENCE</a>
        </li>
        <li>
          <a onClick="jump()" routerLink="/portfolio">PORTFOLIO</a>
        </li>
        <li>
          <a onClick="jump()" routerLink="/loisir">LOISIR</a>
        </li>
        <li>
          <a onClick="jump()" routerLink="/contact">CONTACT</a>
        </li>
      </ul>
      <address>{{mail1}}{{mail2}}</address>
      <p>© 2020 · TAKAHIRO YAMADA · ALL RIGHTS RESERVED</p>
    </div>
  </section>
</div>




