<div class="competencecontainer">

  <h2>COMPETENCES</h2>

  <h3>Outils Numériques</h3>
  <div class="skil-box">
    <span class="icon-js"></span>
    <span class="skil-text">
  <p><b>Javascript</b> - boucle for, array / object / Promise / if / switch / falsy / etc.</p>
   <div class="skilbar">
      <div class="skilbarempjs"></div>
    </div>
  </span>
  </div>
  <div class="skil-box">
    <span class="icon-react"></span>
    <span class="skil-text">
 <p><b>React.js</b> – Authentification / Création d’un component et class / Echange Database / Changer
  state selon des évents / Routing </p>
    <div class="skilbar">
      <div class="skilbaremprct"></div>
    </div>
  </span>
  </div>
  <div class="skil-box">
    <span class="icon-angular"></span>
    <span class="skil-text">
 <p><b>Angular</b> - Création d’un component / Routing <br>Ce siteCV est crée par Angular et FireBase</p>
    <div class="skilbar ea">
      <div class="skilbarempang"></div>
    </div>
  </span>
  </div>
  <div class="skil-box">
    <img src="../../assets/icons8-nodejs-100.png" alt="" class="icon-node">
    <span class="skil-text">
<p><b>Node.js</b> – CRUD / patch / Créer une function et tester</p>
    <div class="skilbar enode">
      <div class="skilbarempnode"></div>
    </div>
  </span>
  </div>
  <div class="skil-other-box">
    <span class="skil-others">Typescript</span>
    <span class="skil-others">React-redux</span>
    <span class="skil-others">HTML5, CSS3</span>
    <span class="skil-others">Boostrap</span>
    <span class="skil-others">Git</span>
    <span class="skil-others">GitHub</span>
    <span class="skil-others">GitLab</span>
    <span class="skil-others">Firebase</span>
    <span class="skil-others">Firestore</span>
    <span class="skil-others">Slack</span>
    <span class="skil-others">Trello</span>
    <span class="skil-others">Adobe illustrator</span>
    <span class="skil-others">Word, Excel, Powerpoint</span>
    <span class="skil-others">Compétence humaine : capacité à travailler en équipe</span>
  </div>

  <h3>Langues</h3>
  <div class="langue">
    <div id="fr" class="c100 p1 big green">
      <span>FRANCAIS</span>
      <div class="slice">
        <div class="bar"></div>
        <div class="fill"></div>
      </div>
    </div>
    <div id="en"  class="c100 p1 big blue">
      <span>ANGLAIS</span>
      <div class="slice">
        <div class="bar"></div>
        <div class="fill"></div>
      </div>
    </div>
    <div id="jp" class="c100 p1 big red">
      <span>JAPONAIS</span>
      <div class="slice">
        <div class="bar"></div>
        <div class="fill"></div>
      </div>
    </div>
  </div>

</div>


