  h2 {
    color: #ffffff;
    padding: 100px;
    font-size: 40px;
  }

  h3 {
    position: relative;
    color: #00caf4;
    text-align: center;
    font-size: 26px;
  }

  .competencecontainer {
    width: 720px;
    margin: 0 auto 0;
  }

  .skil-box {
    margin: 50px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .icon-js {
    background-image: url("../../assets/icons8-javascript-100.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    width: 100px;
    filter: invert(88%) sepia(100%) saturate(2929%) hue-rotate(104deg) brightness(99%) contrast(104%);
  }

  .icon-react {
    background-image: url("../../assets/icons8-react-native-100.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    width: 100px;
    filter: invert(88%) sepia(100%) saturate(2929%) hue-rotate(104deg) brightness(99%) contrast(104%);
  }

  .icon-angular {
    background-image: url("../../assets/icons8-angularjs-100.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    width: 100px;
    filter: invert(88%) sepia(100%) saturate(2929%) hue-rotate(104deg) brightness(99%) contrast(104%);
  }

  .icon-node {
    background-image: url("../../assets/icons8-nodejs-100.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    width: 100px;
    filter: invert(88%) sepia(100%) saturate(2929%) hue-rotate(104deg) brightness(99%) contrast(104%);
  }

  .skil-text {
    width: 580px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .skilbar {
    width: 470px;
    height: 20px;
    background-color: silver;
    border-radius: 10px;
  }

  .skilbarempjs {
    width: 0;
    height: 20px;
    border-radius: 10px;
  }

  .skilbaremprct {
    width: 0;
    height: 20px;
    border-radius: 10px;
  }

  .skilbarempang {
    width: 0;
    height: 20px;
    border-radius: 10px;
  }

  .skilbarempnode {
    width: 0;
    height: 20px;
    border-radius: 10px;
  }

  .skilbar-js {
    width: 90%;
    height: 20px;
    background-color: orange;
    border-radius: 10px;
    transition: all 2s;
  }

  .skilbar-rct {
    width: 80%;
    height: 20px;
    background-color: yellow;
    border-radius: 10px;
    transition: all 2s;
  }

  .skilbar-ang {
    width: 65%;
    height: 20px;
    background-color: red;
    border-radius: 10px;
    transition: all 2s;
  }

  .skilbar-node {
    width: 85%;
    height: 20px;
    background-color: mediumspringgreen;
    border-radius: 10px;
    transition: all 2s;
  }

  .skil-text p {
    font-size: 20px;
    color: #ffffff;
  }

  .skil-other-box {
    margin: 50px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 60px;
  }

  .skil-others {
    padding: 10px 20px;
    margin: 10px 20px;
    border-radius: 40px;
    border: solid 2px #00caf4;
    font-size: 20px;
    color: white;
    background-color: transparent;
  }
  .langue {
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .langue .slice {
    flex-grow: 0;
  }
  .rect-auto, .c100.p51 .slice, .c100.p52 .slice, .c100.p53 .slice, .c100.p54 .slice, .c100.p55 .slice, .c100.p56 .slice, .c100.p57 .slice, .c100.p58 .slice, .c100.p59 .slice, .c100.p60 .slice, .c100.p61 .slice, .c100.p62 .slice, .c100.p63 .slice, .c100.p64 .slice, .c100.p65 .slice, .c100.p66 .slice, .c100.p67 .slice, .c100.p68 .slice, .c100.p69 .slice, .c100.p70 .slice, .c100.p71 .slice, .c100.p72 .slice, .c100.p73 .slice, .c100.p74 .slice, .c100.p75 .slice, .c100.p76 .slice, .c100.p77 .slice, .c100.p78 .slice, .c100.p79 .slice, .c100.p80 .slice, .c100.p81 .slice, .c100.p82 .slice, .c100.p83 .slice, .c100.p84 .slice, .c100.p85 .slice, .c100.p86 .slice, .c100.p87 .slice, .c100.p88 .slice, .c100.p89 .slice, .c100.p90 .slice, .c100.p91 .slice, .c100.p92 .slice, .c100.p93 .slice, .c100.p94 .slice, .c100.p95 .slice, .c100.p96 .slice, .c100.p97 .slice, .c100.p98 .slice, .c100.p99 .slice, .c100.p100 .slice {
    clip: rect(auto, auto, auto, auto);
  }

  .pie, .c100 .bar, .c100.p51 .fill, .c100.p52 .fill, .c100.p53 .fill, .c100.p54 .fill, .c100.p55 .fill, .c100.p56 .fill, .c100.p57 .fill, .c100.p58 .fill, .c100.p59 .fill, .c100.p60 .fill, .c100.p61 .fill, .c100.p62 .fill, .c100.p63 .fill, .c100.p64 .fill, .c100.p65 .fill, .c100.p66 .fill, .c100.p67 .fill, .c100.p68 .fill, .c100.p69 .fill, .c100.p70 .fill, .c100.p71 .fill, .c100.p72 .fill, .c100.p73 .fill, .c100.p74 .fill, .c100.p75 .fill, .c100.p76 .fill, .c100.p77 .fill, .c100.p78 .fill, .c100.p79 .fill, .c100.p80 .fill, .c100.p81 .fill, .c100.p82 .fill, .c100.p83 .fill, .c100.p84 .fill, .c100.p85 .fill, .c100.p86 .fill, .c100.p87 .fill, .c100.p88 .fill, .c100.p89 .fill, .c100.p90 .fill, .c100.p91 .fill, .c100.p92 .fill, .c100.p93 .fill, .c100.p94 .fill, .c100.p95 .fill, .c100.p96 .fill, .c100.p97 .fill, .c100.p98 .fill, .c100.p99 .fill, .c100.p100 .fill {
    position: absolute;
    border: 0.08em solid #307bbb;
    width: 0.84em;
    height: 0.84em;
    clip: rect(0em, 0.5em, 1em, 0em);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  .pie-fill, .c100.p51 .bar:after, .c100.p51 .fill, .c100.p52 .bar:after, .c100.p52 .fill, .c100.p53 .bar:after, .c100.p53 .fill, .c100.p54 .bar:after, .c100.p54 .fill, .c100.p55 .bar:after, .c100.p55 .fill, .c100.p56 .bar:after, .c100.p56 .fill, .c100.p57 .bar:after, .c100.p57 .fill, .c100.p58 .bar:after, .c100.p58 .fill, .c100.p59 .bar:after, .c100.p59 .fill, .c100.p60 .bar:after, .c100.p60 .fill, .c100.p61 .bar:after, .c100.p61 .fill, .c100.p62 .bar:after, .c100.p62 .fill, .c100.p63 .bar:after, .c100.p63 .fill, .c100.p64 .bar:after, .c100.p64 .fill, .c100.p65 .bar:after, .c100.p65 .fill, .c100.p66 .bar:after, .c100.p66 .fill, .c100.p67 .bar:after, .c100.p67 .fill, .c100.p68 .bar:after, .c100.p68 .fill, .c100.p69 .bar:after, .c100.p69 .fill, .c100.p70 .bar:after, .c100.p70 .fill, .c100.p71 .bar:after, .c100.p71 .fill, .c100.p72 .bar:after, .c100.p72 .fill, .c100.p73 .bar:after, .c100.p73 .fill, .c100.p74 .bar:after, .c100.p74 .fill, .c100.p75 .bar:after, .c100.p75 .fill, .c100.p76 .bar:after, .c100.p76 .fill, .c100.p77 .bar:after, .c100.p77 .fill, .c100.p78 .bar:after, .c100.p78 .fill, .c100.p79 .bar:after, .c100.p79 .fill, .c100.p80 .bar:after, .c100.p80 .fill, .c100.p81 .bar:after, .c100.p81 .fill, .c100.p82 .bar:after, .c100.p82 .fill, .c100.p83 .bar:after, .c100.p83 .fill, .c100.p84 .bar:after, .c100.p84 .fill, .c100.p85 .bar:after, .c100.p85 .fill, .c100.p86 .bar:after, .c100.p86 .fill, .c100.p87 .bar:after, .c100.p87 .fill, .c100.p88 .bar:after, .c100.p88 .fill, .c100.p89 .bar:after, .c100.p89 .fill, .c100.p90 .bar:after, .c100.p90 .fill, .c100.p91 .bar:after, .c100.p91 .fill, .c100.p92 .bar:after, .c100.p92 .fill, .c100.p93 .bar:after, .c100.p93 .fill, .c100.p94 .bar:after, .c100.p94 .fill, .c100.p95 .bar:after, .c100.p95 .fill, .c100.p96 .bar:after, .c100.p96 .fill, .c100.p97 .bar:after, .c100.p97 .fill, .c100.p98 .bar:after, .c100.p98 .fill, .c100.p99 .bar:after, .c100.p99 .fill, .c100.p100 .bar:after, .c100.p100 .fill {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .c100 {
    position: relative;
    font-size: 120px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    float: left;
    margin: 50px 30px;
    background-color: gray;
  }

  .c100 *, .c100 *:before, .c100 *:after {
    box-sizing: content-box;
  }

  .c100.center {
    float: none;
    margin: 0 auto;
  }

  .c100.big {
    font-size: 170px;
  }

  .c100.small {
    font-size: 80px;
  }

  .c100 > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 0.15em;
    color: #FFFFFF;
    display: block;
    text-align: center;
    white-space: nowrap;

  }

  .c100:after {
    position: absolute;
    top: 0.08em;
    left: 0.08em;
    display: block;
    content: " ";
    border-radius: 50%;
    background-color: #434da2;
    width: 0.84em;
    height: 0.84em;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
  }

  .c100 .slice {
    position: absolute;
    width: 1em;
    height: 1em;
    clip: rect(0em, 1em, 1em, 0.5em);
  }

  .c100.p1 .bar {
    transform: rotate(3.6deg);
  }

  .c100.p51 .bar {
    transform: rotate(183.6deg);
    transition: all 2s;
  }

  .c100.p77 .bar {
    transform: rotate(277.2deg);
    transition: all 2s;
  }


  .c100.p100 .bar {
    transform: rotate(360deg);
    transition: all 2s;
  }

  .c100.green {
    background-color: #777777;
  }

  .c100.green .bar,
  .c100.green .fill {
    border-color: greenyellow !important;
  }

  .c100.blue {
    background-color: #777777;
  }

  .c100.blue .bar,
  .c100.blue .fill {
    border-color: aquamarine !important;
  }

  .c100.red {
    background-color: transparent;
  }

  .c100.red .bar,
  .c100.red .fill {
    border-color: red !important;
  }



