  h2 {
    color: #ffffff;
    padding: 100px;
    font-size: 40px;
  }

  .loisirbox {
    margin: 0 auto 0;
    padding-bottom: 100px;
    width: 720px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .loisiritema {
    height: 250px;
    width: 250px;
    background-image: url("../../assets/loisir1.png");
    background-size: cover;
    margin: 40px;
    position:		relative;
  }
  .loisiritema .mask {
    width:			100%;
    height:			100%;
    position:		absolute;
    top:			0;
    left:			0;
    opacity:		0;
    background-color:	rgba(0,0,0,0.6);
    -webkit-transition:	all 0.2s ease;
    transition:		all 0.2s ease;
  }
  .loisiritema:hover .mask {
    opacity:		1;
  }

  .loisiritemb {
    height: 250px;
    width: 250px;
    background-image: url("../../assets/loisir2.jpg");
    background-size: cover;
    margin: 40px;
    position:		relative;
  }
  .loisiritemb .mask {
    width:			100%;
    height:			100%;
    position:		absolute;
    top:			0;
    left:			0;
    opacity:		0;
    background-color:	rgba(0,0,0,0.6);
    -webkit-transition:	all 0.2s ease;
    transition:		all 0.2s ease;
  }
  .loisiritemb:hover .mask {
    opacity:		1;
  }

  .loisiritemc {
    height: 250px;
    width: 250px;
    background-image: url("../../assets/loisir3.png");
    background-size: cover;
    margin: 40px;
    position:		relative;
  }
  .loisiritemc .mask {
    width:			100%;
    height:			100%;
    position:		absolute;
    top:			0;
    left:			0;
    opacity:		0;
    background-color:	rgba(0,0,0,0.6);
    -webkit-transition:	all 0.2s ease;
    transition:		all 0.2s ease;
  }
  .loisiritemc:hover .mask {
    opacity:		1;
  }

  .loisiritemd {
    height: 250px;
    width: 250px;
    background-image: url("../../assets/loisir4.jpg");
    background-size: cover;
    margin: 40px;
    position:		relative;
  }
  .loisiritemd .mask {
    width:			100%;
    height:			100%;
    position:		absolute;
    top:			0;
    left:			0;
    opacity:		0;
    background-color:	rgba(0,0,0,0.6);
    -webkit-transition:	all 0.2s ease;
    transition:		all 0.2s ease;
  }
  .loisiritemd:hover .mask {
    opacity:		1;
  }

  .caption {
    margin-top: 110px;
    font-size:		130%;
    text-align: 		center;
    color:			#fff;
  }



