<h2>LOISIR</h2>
<div class="loisirbox">

  <div class="loisiritema">
    <div class="mask">
      <div class="caption">Rugby</div>
    </div>
  </div>

  <div class="loisiritemc">
    <div class="mask">
      <div class="caption">Break Dance</div>
    </div>
  </div>

  <div class="loisiritemb">
    <div class="mask">
      <div class="caption">Calligraphie japonaise</div>
    </div>
  </div>

  <div class="loisiritemd">
    <div class="mask">
      <div class="caption">Cuisine</div>
    </div>
  </div>
</div>








